# casts.lst - a config file for podcatch.sh
#
# you can almost instantlu start listing our feeds.
#
# to do so, wht you really want to select is a set of parsers:
PARSERS: audio
#
# and then fetch a feed like this:
# feed ---> destination
http://web.ard.de/radiotatort/rss/podcast.xml ---> /tmp/incoming/radiotatort
#
# * a feed can be anything wget-able on your desired platform
# * PARSERS selects the parsers for the feed (from the catchers dir)
#
# normally it's more comfortable to choose an incoming directory
#
# * if directory starts with a /,
#       it is interpreted as an absolute path,
#   otherwise
#       it is concatenated with the current DLDIR.
#
# you set the DLDIR like this:
DLDIR=/tmp/incoming

# and then download relative to the DLDIR:
http://podcast.wdr.de/quarks.xml ---> quarks

# download to absolute paths still work:
http://www.hoaxilla.de/podcast/hoaxilla.xml ---> /tmp/incoming/hoaxilla

# and, since this file is processed linewise,
# you can even change the DLDIR in between ...
DLDIR=/tmp

# ... and following feeds will download relative to the new DLDIR
http://dublab.com/feed/podcast ---> incoming/dublab

# final note:
#   it might be wise to avoid encoding-related trouble whereever filenames occur
